.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(236, 236, 236, 0.7);
  z-index: 10;
  width: 100%;
  height: 100%;
}

.modal-child {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  height: 60%;
  width: 30%;
  align-items: center;
  justify-content: space-evenly;
}

#demouser-signin {
  position: absolute;
  background-color: rgb(230, 92, 0);
  border-style: none;
  border-radius: 5px;
  top: 20%;
  height: 10%;
  width: 75%;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: white;
}

#modal-or {
  position: absolute;
  top: 45%
}

#email-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30%;
  width: 100%;
  bottom: 15%;
  left: 0%;
}

#email-field {
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-style: none;
  border: 1px solid rgb(122, 122, 122);
  border-radius: 5px;
  height: 30%;
  width: 75%;
  top: 10%;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

#continue-button {
  position: absolute;
  background-color: rgb(230, 92, 0);
  border-style: none;
  border: none;
  border-radius: 5px;
  height: 30%;
  width: 75%;
  bottom: 10%;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: white;
}


#signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#signup-username-field, #signup-password-field, #login-password-field {
  background-color: rgb(255, 255, 255);
  border-style: none;
  border: 1px solid rgb(122, 122, 122);
  border-radius: 5px;
  height: 40px;
  width: 300px;
  margin:10px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

#signup-account-button, #login-account-button {
  background-color: rgb(230, 92, 0);
  border-style: none;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 300px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: white;
  align-items: center;
}

#login-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30%;
  width: 100%;
  bottom: 15%;
  left: 0%;
}

#login-password-field {
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-style: none;
  border: 1px solid rgb(122, 122, 122);
  border-radius: 5px;
  height: 30%;
  width: 75%;
  top: 10%;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

#login-account-button {
  position: absolute;
  background-color: rgb(230, 92, 0);
  border-style: none;
  border: none;
  border-radius: 5px;
  height: 30%;
  width: 75%;
  bottom: 10%;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: white;
}

#signup-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  width: 100%;
  bottom: 7.5%;
  left: 0%;
}

#signup-username-field {
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-style: none;
  border: 1px solid rgb(122, 122, 122);
  border-radius: 5px;
  height: 23%;
  width: 75%;
  top: 0%;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

#signup-password-field {
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-style: none;
  border: 1px solid rgb(122, 122, 122);
  border-radius: 5px;
  height: 23%;
  width: 75%;
  top: 30%;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

#signup-account-button {
  position: absolute;
  background-color: rgb(230, 92, 0);
  border-style: none;
  border: none;
  border-radius: 5px;
  height: 23%;
  width: 75%;
  bottom: 10%;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: white;
}